/* General Page Style */
body{
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
  background-color:#f4f6f9;
}

/* Header */
.header{
  background-color:#1f2937;
  color:white;
  padding:20px;
  text-align:center;
}

/* Navbar */
.navbar{
  background-color:#374151;
  padding:12px;
  text-align:center;
}

.navbar a{
  color:white;
  text-decoration:none;
  margin:0 15px;
  font-weight:bold;
  font-size:16px;
}

.navbar a:hover{
  color:#60a5fa;
}

/* Page Container */
.container{
  padding:40px;
  text-align:center;
}

/* Buttons */
button{
  padding:10px 20px;
  margin:10px;
  border:none;
  border-radius:5px;
  background-color:#2563eb;
  color:white;
  font-size:16px;
  cursor:pointer;
}

button:hover{
  background-color:#1d4ed8;
}

/* Counter Display */
.counter{
  font-size:30px;
  font-weight:bold;
  margin:20px;
}

/* Clock Style */
.clock{
  font-size:35px;
  font-weight:bold;
  background:black;
  color:#00ffcc;
  display:inline-block;
  padding:20px;
  border-radius:10px;
}

/* Calculator */
.calculator{
  width:250px;
  margin:auto;
  background:#1f2937;
  padding:20px;
  border-radius:10px;
}

.calculator input{
  width:100%;
  padding:10px;
  margin-bottom:10px;
  font-size:18px;
  text-align:right;
}

.calculator button{
  width:50px;
  margin:5px;
}

/* Footer */
.footer{
  background-color:#1f2937;
  color:white;
  text-align:center;
  padding:15px;
  position:fixed;
  bottom:0;
  width:100%;
}